@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    --clr-soft-red-active: hsl(7, 99%, 70%);
    --clr-yellow-active: hsl(51, 100%,49%);
    --clr-soft-red: hsla(7,99%, 70%, 0.35);
    --clr-yellow: hsla(51, 100%, 49%, 0.35);
    --clr-graphic-design-text: hsl(167, 40%, 24%);
    --clr-photography-text: hsl(198, 62%, 26%);
    --clr-footer-text: hsl(198, 34%, 41%);
    --clr-footer-background: hsl(167, 43%, 70%);
    --clr-header: hsl(200, 100%, 62%);
    --clr-very-saturated-blue: hsl(212, 27%, 19%);
    --clr-very-dark-grayish-blue: hsl(212, 27%, 19%);
    --clr-dark-grayish-blue: hsl(232, 10%, 55%);
    --clr-grayish-blue: hsl(210, 4%, 67%);
    font-size: 18px;
    font-family: Barlow, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

p{
    color: var(--clr-dark-grayish-blue);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 900;
    font-family: Fraunces, sans-serif;
}

.topBar{
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    background-color: var(--clr-header);
    padding: 30px 30px;
    gap: 30px;
}

.logo{
    margin-right: auto;
    font-weight: 800;
}

.links{
    display: flex;
    gap: 30px;
    align-items: center;
}

.menuLink{
    color: white;
    text-decoration: none;
}

.contactButton{
    border: none;
    font-family: Fraunces, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 100px;
    padding: 15px 25px;
    cursor: pointer;
}

.contactButton:hover{
    color: white;
    background-color: #ffffff50;
}

.hamburgerMenuButton{
    position: absolute;
    right: 0;
    margin-right: 30px;
    display: none;
}

.heroSection{
    display: grid;
}

.heroHeading{
    z-index: 1;
    justify-self: center;
    align-self: center;
    font-family: Fraunces, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    margin: 30px 30px 250px 30px;
    letter-spacing: 5px;
}

.heroArrow{
    z-index: 1;
    align-self: center;
    justify-self: center;
}

.heroSection > *{
    grid-area: 1/1/1/1;
}

.heroImage{
    width: 100%;
}

.mainGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 720px));
    grid-auto-rows: 600px;
    justify-content: center;
}

.infoCard{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 150px;
    background-color: whitesmoke;
    justify-content: center;
}

.infoCard > p{
    line-height: 1.5;
}

.infoCard > a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color: var(--clr-very-dark-grayish-blue);
    font-family: Fraunces, sans-serif;
    position: relative;
    align-self: flex-start;
    z-index: 2;
}

.infoLink::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 110%;
    height: 8px;
    border-radius: 100px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.infoLink1::after{
    background-color: var(--clr-yellow);
}

.infoLink2::after{
    background-color: var(--clr-soft-red);
}

.infoLink1:hover::after{
    background-color: var(--clr-yellow-active);
}

.infoLink2:hover::after{
    background-color: var(--clr-soft-red-active);
}

.imageDetails{
    display: flex;
    flex-direction: column;
    max-width: 375px;
    min-width: 350px;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.imageDetails > p{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.graphicDesignCard, .photographyCard{
    position: relative;
}

.graphicDesignImageDetails, .graphicDesignImageDetails > p{
    color: var(--clr-graphic-design-text);
}

.photographyImageDetails, .photographyImageDetails > p{
    color: var(--clr-photography-text);
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 150px;
}

.testimonialsHeading{
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--clr-grayish-blue);
}

.testimonialContainer{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonialCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    gap: 50px;
}

.profileImage{
    border-radius: 50%;
    width: 70px;
}

.testimonial{
    text-align: center;
    line-height: 1.5;
}

.profession{
    color: var(--clr-grayish-blue);
    margin-top: -40px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.galleryImage > img{
    width: 360px;
}

footer{
    background-color: var(--clr-footer-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.footerLogo{
    fill: var(--clr-footer-text);
}

.footerLinks{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 75px;
    flex-wrap: wrap;
    justify-content: center;
}

.footerLinks > a{
    color: var(--clr-footer-text);
    cursor: pointer;
}

.footerLinks > a:hover{
    color: white;
}

.socialIconContainer{
    display: flex;
    gap: 30px;
    margin-bottom: 75px;
}

.socialIconContainer > *{
    cursor: pointer;
    fill: var(--clr-footer-text);
}

.socialIconContainer > *:hover{
    fill: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 720px) {

    .topBarMobile{
        /* 2rem is default size of h1 header, 60px is the addition
         of the top and bottom padding */
        max-height: calc(2rem + 60px);
    }

    .links{
        padding: 30px 0;
        position: absolute;
        z-index: 5;
        right: 30px;
        flex-direction: column;
        top: calc(100% + 25px);/* 25px is the height of the before pseudo element */
        background-color: white;
        width: calc(100% - 60px);
        transform-origin: right top;
        transform: scale(0);
        transition: transform .3s ease-in-out;
    }

    .menuOpened{
        transform: scale(1);
    }

    .links::before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-bottom: 25px solid white;
        position: absolute;
        top: -25px;
        right: 0;
    }

    .menuLink{
        color: var(--clr-very-saturated-blue);
    }

    .contactButton{
        background-color: var(--clr-yellow-active);
    }

    .contactButton:hover{
        background-color: var(--clr-yellow);
        color: black;
    }

    .hamburgerMenuButton{
        display: inline;
        cursor: pointer;
    }

    .heroSection{
        background: url("../images/mobile/image-header.jpg");
    }

    .mainGrid{
        grid-auto-rows: auto;
    }

    .gridImage{
        width: 100%;
    }

    .gridImage > img{
        width: 100%;
    }

    .testimonials{
        padding: 100px 50px;
    }

    .testimonialContainer{
        gap: 65px;
    }
}

@media only screen and (max-width: 560px) {

    .heroHeading{
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 350px;
    }

    .infoCard{
        padding: 75px 30px;
    }

    .infoCard > h2{
        font-size: 2rem;
    }

    .infoCard > *{
        text-align: center;
    }

    .infoCard > a{
        align-self: center;
    }

    .testimonials{
        padding: 75px 20px;
        gap: 60px;
    }

    .testimonialsHeading{
        font-size: .9em;
    }
}